<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>


{{!-- 
views/layouts/main.handlebars:
The main layout is the HTML page wrapper which can be reused 
for the different views of the app. 
{{{body}}} is used as a placeholder for where the main content 
should be rendered.

references
https://www.npmjs.com/package/express-handlebars --}}
